@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

body {
  background-image: linear-gradient(
      to bottom,
      rgba(55, 53, 53, 0.7),
      rgba(38, 35, 35, 0.4)
    ),
    url("/images/wallpaper.jpg");
  background-size: cover;
  height: 10vh;
}

/* Navbar-section */

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  padding: 9px 0;
  color: #ffffff;
}

.list {
  list-style: none;
  display: flex;
  margin-right: 5rem;
  font-size: 1.2rem;
}

.list-item {
  margin: 0 1.5rem;
  color: #ffffff;
  cursor: pointer;
}

/* hreo-section */

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  height: 50vh;
}

/*----- hero-left -----*/

.left {
  margin-left: 4rem;
}
.hero .left h1 {
  font-size: 3.4rem;
}
.hero .left button {
  margin-top: 3rem;
  background-color: transparent;
  border: 2.8px solid #ffffff;
  color: inherit;
  text-transform: uppercase;
  border-radius: 40px;
  padding: 14px 40px;
  cursor: pointer;
  margin-top: 40px;
  font-weight: bold;
  font-size: 1.2rem;
}

/*---- hero-right----- */
.hero .right {
  position: relative;
}
.hero .right .square {
  background-color: rgba(255, 255, 255, 0.632);
  margin-bottom: 20px;
  position: absolute;
  right: 0px;
  width: 250px;
  padding: 10px 20px;
  height: 135px;
}

.hero .right .square:nth-child(1) {
  right: 100px;
  top: -140px;
}
.hero .right .square:nth-child(2) {
  right: 450px;
  top: 150px;
}
.hero .right .square:nth-child(1) .icon {
  background-color: #ffffff;
  height: 40px;
  width: 80px;
  color: #000;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.hero .right .square:nth-child(1) .icon i {
  font-size: 1.5rem;
}
.hero .right .square:nth-child(2) .icon {
  position: relative;
  background-color: #ffffff;
  height: 40px;
  width: 80px;
  color: #000;
  display: flex;
  justify-content: center;
  border-radius: 25px;
}
.hero .right .square:nth-child(2) .icon i {
  font-size: 1.6rem;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: #000;
}
/*---- Circles-Part--- */

.square:first-child .circle-line {
  position: absolute;
  height: 70px;
  width: 2px;
  background-color: #ffffff;
  top: 155px;
  left: 220px;
}
.square:last-child .circle-line {
  position: absolute;
  height: 70px;
  width: 2px;
  background-color: #ffffff;
  right: -36px;
  top: 20px;
  transform: rotate(-90deg);
}
.circle-line .circle {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  background-color: #ffffff;
  bottom: 0;
  left: -8px;
}
